@keyframes background-primary-color-anim {
    from {
      background-color: #1278FB;
      color: #F6FAFF;
    }
    to {
      background-color: #F6FAFF;
        color: #1278FB;
    }
  }

  .primary-color-animate {
    animation: background-primary-color-anim 1s linear infinite alternate;
  }

@keyframes background-secondary-color-anim {
    from {
    background-color: #FB9512;
    color: #ffffff;
    }
    to {
    background-color:  #ffffff;
        color: #FB9512;
    }
}

    .secondary-color-animate {
        animation: background-secondary-color-anim 1s linear infinite alternate;
    }