@keyframes background-stat-primary-color-anim {
  from {
    background-color: #f6faff;
  }

  to {
    background-color: #dfedff;
  }
}

.primary-stat-color-animate {
  animation: background-stat-primary-color-anim 1s linear infinite alternate;
}

@keyframes background-stat-secondary-color-anim {
  from {
    background-color: #f7e6d0;
  }

  to {
    background-color: #f8dcb8;
  }
}

.secondary-stat-color-animate {
  animation: background-stat-secondary-color-anim 1s linear infinite alternate;
}
